# common #
*.*~

# Build folders #
/build/
/build_*/
/build-*/
/conan/test_package/build/

# CMake
CMakeUserPresets.json

# Conan
# It tends to put those files in the working directory
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json
conan_imports_manifest.txt

# Clang tooling #
.clangd
.cache/clangd/
compile_commands.json

# Vim #
*.swp
*.swo

# Node/NPM #
node_modules/

# OS X#

## system ##
*.DS_Store

## XCode ##
*.pbxuser
*.xccheckout
*.mode1v3
xcuserdata/
*.dSYM

# Windows #

## system ##
Thumbs.db

## Visual Studio ##
*.suo
*.sdf
*.ncb
*.user
ipch
.vscode
